// Basic colors
$white: #fff;
$black: #000;

// Navbar
$version-background: #F5C38D;
$version-color: $white;

// Main bootstrap colors
// $primary: ;
$secondary: #F5C38D;
// $info: ;
// $success: ;
// $warning: ;
// $danger: ;
