/* Custom cols for cards/boxes with innerColumn() function */
.col-inner-4,
.col-inner-6 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 7.5px;
  padding-left: 7.5px;
}

@media (min-width:900px) {
  .col-inner-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-inner-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.col-inner-textinput-left {
  padding: 0 !important;
}

.col-inner-textinput-right {
  padding: 0 !important;
}

@media (min-width:767px) {
  .col-inner-textinput-left {
    padding: 0 !important;
    padding-right: 5px !important;
  }

  .col-inner-textinput-right {
    padding: 0 !important;
    padding-left: 5px !important;
  }
}

/* Custom tabItem() container */

.tabitem-container {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

/* Custom image sizes */

.nanorod-img {
  max-width: 100%;
}
