/* Navbar */
.navbar-custom-logo {
  height: 32px;
  margin-top: -5px;
  margin-right: 10px;
}

.title-container {
  display: inline-flex;
  align-items: center;
}

.title-version {
  background-color: #F5C38D;
  border-radius: 3px;
  color: #fff;
  font-size: 11px;
  margin-top: 3px;
  margin-left: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
}

/* Custom cols for cards/boxes with innerColumn() function */
.col-inner-4,
.col-inner-6 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 7.5px;
  padding-left: 7.5px;
}

@media (min-width: 900px) {
  .col-inner-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-inner-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.col-inner-textinput-left {
  padding: 0 !important;
}

.col-inner-textinput-right {
  padding: 0 !important;
}

@media (min-width: 767px) {
  .col-inner-textinput-left {
    padding: 0 !important;
    padding-right: 5px !important;
  }
  .col-inner-textinput-right {
    padding: 0 !important;
    padding-left: 5px !important;
  }
}

/* Custom tabItem() container */
.tabitem-container {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

/* Custom image sizes */
.nanorod-img {
  max-width: 100%;
}

/* Home Page */
.home-page {
  padding-bottom: 20px;
  padding-left: 10%;
  padding-right: 10%;
}

/* Custom Widget Classes */
.side-widget {
  display: inline-block;
  vertical-align: top;
}

.side-widget-tall {
  display: inline-block;
  vertical-align: bottom;
  margin-bottom: -21px;
}

.side-widget-download {
  display: inline-block;
  vertical-align: top;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.side-widget-format {
  display: inline-block;
  vertical-align: top;
  margin-bottom: -21px;
  margin-left: -5px;
}

.side-widget-format .selectize-input {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.widget-sep {
  display: inline-block;
  vertical-align: top;
  width: 20px;
}

/* DT tables */
.table.dataTable tbody td.active, .table.dataTable tbody tr.active td {
  background-color: #ABABAB !important;
}

div.dataTables_paginate {
  float: left;
  margin-top: 5px !important;
  margin-right: 10px !important;
}

div.dt-buttons {
  display: flex;
  margin-top: 7px !important;
}

div.dt-buttons .btn-secondary,
.download-audience,
.download-audience.disabled {
  color: #4f555c;
  background-color: #ffffff;
  border-color: #dee2e6;
}

/* shinyFiles fixes */
.sF-dirWindow {
  display: flex;
}

.sF-breadcrumps {
  width: calc(100% - 380px) !important;
}
